stages:
  - test
  - deploy

test:
  stage: test
  image: golang:1.24
  script:
    - cd ivcs
    - go mod download
    - go test ./...

pages:
  stage: deploy
  script:
    - mkdir -p public
    - cp -r site/* public/
  artifacts:
    paths:
      - public
  only:
    - main
